In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('마포구_동별_연평균매출액2021.csv',encoding='cp949')

In [21]:
df.set_index('분류',inplace=True)

In [24]:
df=df[['용강동']]
df

                 용강동
분류
한식      3.920378e+07
중식      2.628024e+07
일식      4.609094e+07
양식      1.272879e+07
제과점     4.028334e+07
패스트푸드점  3.989510e+07
치킨전문점   1.000314e+07
분식      1.585883e+07
호프      3.696284e+07
커피      1.011890e+07

In [5]:
n=0
for year in range(2014,2022):
    if n==0:
        df=pd.read_csv(f'마포구_동별_연평균매출액{year}.csv',encoding='cp949')
        df.set_index('분류',inplace=True)
        df=df[['용강동']]
        df.rename(columns={'용강동':year},inplace=True)
        n=1
    else:
        df_sub=pd.read_csv(f'마포구_동별_연평균매출액{year}.csv',encoding='cp949')
        df_sub.set_index('분류',inplace=True)
        df_sub=df_sub[['용강동']]
        df_sub.rename(columns={'용강동':year},inplace=True)
        df=pd.concat([df,df_sub],axis=1)

In [6]:
df

,2014,2015,2016,2017,2018,2019,2020,2021
분류,,,,,,,,
한식,8.679714e+07,9.891266e+07,1.097433e+08,1.143518e+08,1.225362e+08,1.089743e+08,8.892764e+07,9.217971e+07
중식,8.870968e+07,1.291440e+08,1.120940e+08,1.012908e+08,8.737871e+07,6.673319e+07,5.548269e+07,3.746332e+07
일식,6.559722e+07,6.577379e+07,9.100876e+07,1.008443e+08,9.907700e+07,5.140299e+07,2.958584e+07,2.613102e+07
양식,7.995179e+07,8.536883e+07,8.182908e+07,6.811291e+07,6.386176e+07,3.010051e+07,2.350659e+07,1.507515e+07
제과점,6.304545e+07,5.943478e+07,6.760870e+07,5.136596e+07,5.691594e+07,3.627876e+07,7.677758e+07,9.937732e+07
패스트푸드점,1.064155e+08,1.080781e+08,1.122242e+08,9.193722e+07,8.860977e+07,7.934277e+07,2.388275e+07,2.393706e+07
치킨전문점,1.240000e+08,1.289766e+08,3.860000e+07,3.649803e+07,3.428480e+07,5.175849e+07,3.731453e+07,5.586021e+07
분식,2.629057e+07,5.216464e+07,4.314251e+07,4.119713e+07,3.784533e+07,3.415660e+07,1.272101e+07,1.475296e+07
호프,6.026970e+07,7.625076e+07,8.016015e+07,7.165771e+07,8.861843e+07,6.863159e+07,4.988532e+07,4.156198e+07
커피,4.258327e+07,7.440528e+07,3.869572e+07,3.446154e+07,3.167601e+07,2.333470e+07,2.453757e+07,2.193530e+07