In [1]:
import pandas as pd

In [2]:
region = pd.read_csv("행정동코드.csv", sep=",")
business = pd.read_csv("행정동-상권csv.csv", sep=",", encoding='cp949')
market = pd.read_csv("서울시_우리마을가게_상권분석서비스.csv", sep=",", encoding='cp949')

In [3]:
# 마포구 자리에 구 입력
df_sample11 = region[region['시군구명'].str.contains('마포구')]
df_sample22 = pd.DataFrame({'행정동' : df_sample11['행정동명'].values.tolist(), '코드' : df_sample11['행자부행정동코드'].values.tolist() })

df_sample22

     행정동        코드
0    용강동  11440590
1    대흥동  11440600
2    염리동  11440610
3    신수동  11440630
4    서교동  11440660
5    합정동  11440680
6   망원1동  11440690
7   망원2동  11440700
8    연남동  11440710
9   성산1동  11440720
10  성산2동  11440730
11   상암동  11440740
12   도화동  11440585
13   서강동  11440655
14   공덕동  11440565
15   아현동  11440555

In [5]:
df_sample3

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
10329,2021,1,A,골목상권,2110560,마포FM,CS100001,한식음식점,258662420.0,17393,...,370,11227,3982,26,1516,2230,2433,3827,5181,18
45761,2021,2,A,골목상권,2110560,마포FM,CS100001,한식음식점,355042418.0,21571,...,738,13601,5319,99,2113,2712,3058,4693,6241,21
81136,2021,3,A,골목상권,2110560,마포FM,CS100001,한식음식점,304029340.0,20070,...,435,12796,4655,111,1960,2119,2559,4479,6225,21
116149,2021,4,A,골목상권,2110560,마포FM,CS100001,한식음식점,319177234.0,21050,...,640,14090,4268,95,1900,2368,2749,4597,6650,18

In [4]:
def annual_sales(df):# 연 평균 매출액
    return df['분기당_매출_금액'].sum() / df['점포수'].sum()
def num_orders(df): #연 평균 주문 건수
    return df['분기당_매출_건수'].sum() / df['점포수'].sum()

def gather(code, name):
    df_sample1 = business[business['행정동_코드']==11440710]
    df_sample2 = df_sample1['상권_코드'].tolist()

    df_sample3 = ['CS100001', 'CS100002', 'CS100003', 'CS100004', 'CS100005', 'CS100006',
                  'CS100007', 'CS100008', 'CS100009', 'CS100010'] # 서비스 업종 코드

    all_df = pd.DataFrame()

    df_kor = pd.DataFrame()
    df_ch = pd.DataFrame()
    df_jap = pd.DataFrame()
    df_usa = pd.DataFrame()
    df_bake = pd.DataFrame()
    df_fast = pd.DataFrame()
    df_chicken = pd.DataFrame()
    df_snack = pd.DataFrame()
    df_alcoho = pd.DataFrame()
    df_coffee = pd.DataFrame()


    for i in df_sample2:
        for j in df_sample3:
            all_df = pd.concat([all_df, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==j)]])

    for i in df_sample2:
        df_kor = pd.concat([df_kor, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[0])]])
        df_ch = pd.concat([df_ch, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[1])]])
        df_jap = pd.concat([df_jap, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[2])]])
        df_usa = pd.concat([df_usa , market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[3])]])
        df_bake = pd.concat([df_bake , market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[4])]])
        df_fast = pd.concat([df_fast, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[5])]])
        df_chicken = pd.concat([df_chicken, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[6])]])
        df_snack = pd.concat([df_snack, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[7])]])
        df_alcoho = pd.concat([df_alcoho, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[8])]])
        df_coffee = pd.concat([df_coffee, market[(market['상권_코드']==i) & (market['서비스_업종_코드']==df_sample3[9])]]) 
        
        
    df1 = pd.DataFrame({'ID': ['한식', '중식', '일식', '양식', '제과점', '패스트푸드점', '치킨전문점', '분식', '호프', '커피'],
                  f'{name}': [annual_sales(df_kor), annual_sales(df_ch), annual_sales(df_jap), annual_sales(df_usa), annual_sales(df_bake), annual_sales(df_fast), annual_sales(df_chicken), annual_sales(df_snack), annual_sales(df_alcoho), annual_sales(df_coffee)]})
    df2 = pd.DataFrame({'ID': ['한식', '중식', '일식', '양식', '제과점', '패스트푸드점', '치킨전문점', '분식', '호프', '커피'],
                        f'{name}': [num_orders(df_kor), num_orders(df_ch), num_orders(df_jap), num_orders(df_usa), num_orders(df_bake), num_orders(df_fast), num_orders(df_chicken), num_orders(df_snack), num_orders(df_alcoho), num_orders(df_coffee)]})
    
    return df1, df2

In [5]:
code_list = df_sample11['행자부행정동코드'].values.tolist()
name_list = df_sample11['행정동명'].values.tolist()


#구 별 csv 파일 저장

all_df1 = pd.DataFrame()
all_df2 = pd.DataFrame()

for i, j in zip(code_list, name_list):
    all_df1 = pd.concat([all_df1, gather(i, j)[0]])
    all_df2 = pd.concat([all_df2, gather(i, j)[1]])
    
all_df1.to_csv("마포구연평균매출액.csv",mode="w",encoding='euc-kr')
all_df2.to_csv("마포구연평균주문건수.csv",mode="w",encoding='euc-kr')

C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()

C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()

In [6]:
#동별 csv 파일 저장

code = '11440710'
name = '연남동'

df1, df2 = gather(code, name)
df1.to_csv(f"{name}연평균매출액.csv",mode="w",encoding='euc-kr')
df2.to_csv(f"{name}연평균주문건수.csv",mode="w",encoding='euc-kr')

C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return df['분기당_매출_금액'].sum() / df['점포수'].sum()
C:\Users\kimsoomin\AppData\Local\Temp\ipykernel_25888\4187700679.py:4: RuntimeWarning: invalid value encountered in longlong_scalars
  return df['분기당_매출_건수'].sum() / df['점포수'].sum()