In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['dong', 'food', 'func', 'set', 'data'])
df

Empty DataFrame
Columns: [dong, food, func, set, data]
Index: []

In [3]:
dong_list = ['공덕동', '아현동', '도화동', '용강동', '대흥동', '염리동', '신수동', '서강동', '서교동', '합정동', '망원1동', '망원2동', '연남동', '성산1동', '성산2동', '상암동']

In [4]:
food_list = ['한식', '중식', '일식', '양식', '베이커리', '패스트푸드', '치킨', '분식', '주점', '카페']

In [5]:
def gender_def(i, df_1):
  df_11 = pd.DataFrame(columns=['dong', 'food', 'func', 'set', 'data'])
  dong_code = dong_list.index(i)
  func_code = 4
  for j in food_list:
    food_code = food_list.index(j)
    for k in [0,1]:
      set_code = k
      data_code = df_1.iloc[k][food_code+1]
      new_data = {'dong':dong_code, 'food':food_code, 'func':func_code, 'set': set_code, 'data': data_code}
      df_11 = df_11.append(new_data, ignore_index=True)
  return df_11

In [6]:

def time_won(i, df_1):
  df_11 = pd.DataFrame(columns=['dong', 'food', 'func', 'set', 'data'])
  dong_code = dong_list.index(i)
  func_code = 32
  for j in food_list:
    food_code = food_list.index(j)
    for k in range(0, 6):
      set_code = k
      data_code = df_1.iloc[k][food_code+1]
      new_data = {'dong':dong_code, 'food':food_code, 'func':func_code, 'set': set_code, 'data': data_code}
      df_11 = df_11.append(new_data, ignore_index=True)
  return df_11

In [7]:
def time_n(i, df_1):
  df_11 = pd.DataFrame(columns=['dong', 'food', 'func', 'set', 'data'])
  dong_code = dong_list.index(i)
  func_code = 31
  for j in food_list:
    food_code = food_list.index(j)
    for k in range(0, 6):
      set_code = k
      data_code = df_1.iloc[k][food_code+1]
      new_data = {'dong':dong_code, 'food':food_code, 'func':func_code, 'set': set_code, 'data': data_code}
      df_11 = df_11.append(new_data, ignore_index=True)
  return df_11

In [8]:
def week_won(i, df_1):
  df_11 = pd.DataFrame(columns=['dong', 'food', 'func', 'set', 'data'])
  dong_code = dong_list.index(i)
  func_code = 22
  for j in food_list:
    food_code = food_list.index(j)
    for k in range(0, 7):
      set_code = k
      data_code = df_1.iloc[k][food_code+1]
      new_data = {'dong':dong_code, 'food':food_code, 'func':func_code, 'set': set_code, 'data': data_code}
      df_11 = df_11.append(new_data, ignore_index=True)
  return df_11

In [10]:
def week_n(i, df_1):
  df_11 = pd.DataFrame(columns=['dong', 'food', 'func', 'set', 'data'])
  dong_code = dong_list.index(i)
  func_code = 21
  for j in food_list:
    food_code = food_list.index(j)
    for k in range(0, 7):
      set_code = k
      data_code = df_1.iloc[k][food_code+1]
      new_data = {'dong':dong_code, 'food':food_code, 'func':func_code, 'set': set_code, 'data': data_code}
      df_11 = df_11.append(new_data, ignore_index=True)
  return df_11

In [11]:
def age_won(i, df_1):
  df_11 = pd.DataFrame(columns=['dong', 'food', 'func', 'set', 'data'])
  dong_code = dong_list.index(i)
  func_code = 12
  for j in food_list:
    food_code = food_list.index(j)
    for k in range(0, 6):
      set_code = k
      data_code = df_1.iloc[k][food_code+1]
      new_data = {'dong':dong_code, 'food':food_code, 'func':func_code, 'set': set_code, 'data': data_code}
      df_11 = df_11.append(new_data, ignore_index=True)
  return df_11

In [12]:
def age_n(i, df_1):
  df_11 = pd.DataFrame(columns=['dong', 'food', 'func', 'set', 'data'])
  dong_code = dong_list.index(i)
  func_code = 11
  for j in food_list:
    food_code = food_list.index(j)
    for k in range(0, 6):
      set_code = k
      data_code = df_1.iloc[k][food_code+1]
      new_data = {'dong':dong_code, 'food':food_code, 'func':func_code, 'set': set_code, 'data': data_code}
      df_11 = df_11.append(new_data, ignore_index=True)
  return df_11

In [13]:
for i in dong_list:
  df_sample1 = pd.read_csv(f'{i}_성별 매출 비율')
  df = df.append(gender_def(i, df_sample1)) 
  df_sample2 = pd.read_csv(f'{i}_시간대 별 매출 금액')
  df = df.append(time_won(i, df_sample2))
  df_sample3 = pd.read_csv(f'{i}_시간대 별 매출 건수')
  df = df.append(time_n(i, df_sample3)) 
  df_sample4 = pd.read_csv(f'{i}_연령대 별 매출 금액')
  df = df.append(age_won(i, df_sample4)) 
  df_sample5 = pd.read_csv(f'{i}_연령대 별 매출 건수')
  df = df.append(age_n(i, df_sample5)) 
  df_sample6 = pd.read_csv(f'{i}_요일 별 매출 건수')
  df = df.append(week_n(i, df_sample6)) 
  df_sample7 = pd.read_csv(f'{i}_요일 별 매출 금액')
  df = df.append(week_won(i, df_sample7))

In [14]:
df

    dong  food  func  set       data
0    0.0   0.0   4.0  0.0       60.3
1    0.0   0.0   4.0  1.0       39.7
2    0.0   1.0   4.0  0.0       59.6
3    0.0   1.0   4.0  1.0       40.4
4    0.0   2.0   4.0  0.0       69.4
..   ...   ...   ...  ...        ...
65  15.0   9.0  22.0  2.0  4159500.0
66  15.0   9.0  22.0  3.0  4175620.0
67  15.0   9.0  22.0  4.0  3987600.0
68  15.0   9.0  22.0  5.0  1152040.0
69  15.0   9.0  22.0  6.0   872400.0

[6400 rows x 5 columns]

In [15]:
df.to_csv('func1_data.csv')